nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BOX{
    width: 50vh;
    height: 25vh;
    border: solid black;
    border-width: 0.5vh;
    background-color: blue;
}
img{
    width: 10vw;
    height: 10vh;
}
